@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

 
@theme{
  --font-unbounded : "Unbounded", sans-serif;
  --font-poppins : "Poppins", sans-serif;
  --color-primarybg : #000000;
  --color-btnbg : #2E47D6;
  --color-accent : #131313;
  --color-accent2 : #2C2C2C;
  --text-btn : .875rem;
}

@layer base{
  label{
    @apply font-medium w-full flex flex-col gap-1;
  }
  input{
    @apply bg-accent2 p-2 rounded-md border-2 border-accent ;
  }
}




